.headSec{
    min-height: 100vh;
    background-image: url(https://www.jacobscoffee.ge/contentassets/4773257bc4ca4353908846c469bc15ab/c21177722_georgia---jacobs-one-bean-web-banner-adaptation-and-resizing-1200x620px_v01.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: 100%;
}